{% extends "base.html.twig" %}
{# {% extends "@FOSUser/layout.html.twig" %} #}
{% trans_default_domain 'FOSUserBundle' %}
{# {% block fos_user_content %} #}
{% block body %}
    <p>
        {{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    <p>
        <a href={{path('index')}}>
            Retour à la page d'acceuil</a>
    </p>
    {% if targetUrl %}
        <p>
            <a href="{{ targetUrl }}">
                {{ 'registration.back'|trans }}</a>
        </p>
    {% endif %}
{% endblock body %}
{# {% endblock fos_user_content %} #}
