{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <h1>Page non trouvée 😓</h1>
    <a href="{{ path('home') }}" class="btn btn-primary ">retour à la page d'acceuil</a>.
{% endblock %}